/* CSS Document */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: black;
    
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: hidden;
	}

#map_canvas {
	height: 100%;
	}
	
#bottom_menu {

	height: 36px;
	background-image:	-moz-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
	background-image:		-webkit-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
	background-image:			linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
	position: absolute;
	bottom: 0px;
	left:252px;
	
}

.gmnoprint *{
	color:rgba(0,0,0,0) !important;
	background: transparent !important;
}
#sidebar {
    width: 252px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px !important;
    
    background: #fff;
    border-right: 5px solid #306079;
    
    position: absolute;
    top:0;
    left:0;
    background: #fff;
}
#stats {
    width: 100%;
    margin: 0;
    
    background: #ddd;
}
#stats li {
    list-style: none;
}
#stats h1 {
    color: #ff0000;
}



a.button:link { 
	color: black;
	}
a.button:visited { 
	color: black;
	}
a.button:hover { 
	color: red;
	background-color: blue;
	text-decoration: none;
	}
a.button:active { 
	color: red;
	background-color: blue;
	text-decoration: none;
	}

a.button { vertical-align:middle; }



@media print {
	html, body {
		height: auto;
		}

	#map_canvas {
    	height: 650px;
    	}	
    }
